# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

# Android
android/local.properties
android/.gradle/
android/key.properties
*.jks
*.keystore

# Secrets
.secrets/
*.env

# Worker
node_modules/
.wrangler/
